[submodule "SakuraEngine/Source/Runtime/CMakeImported/marl"]
	path = SakuraEngine/Source/Runtime/CMakeImported/marl
	url = git@github.com:google/marl.git
[submodule "SakuraEngine/Source/Runtime/CMakeImported/Dots"]
	path = SakuraEngine/Source/Runtime/CMakeImported/Dots
	url = git@github.com:BenzzzX/Dots.git
[submodule "SakuraEngine/Source/Runtime/CMakeImported/GSL"]
	path = SakuraEngine/Source/Runtime/CMakeImported/GSL
	url = git@github.com:microsoft/GSL.git
[submodule "SakuraEngine/Source/Runtime/CMakeImported/tracy"]
	path = SakuraEngine/Source/Runtime/CMakeImported/tracy
	url = git@github.com:wolfpld/tracy.git
