################################################################################
# This .gitignore file was automatically created by SaeruHikari.
################################################################################

/SakuraEngine/.vscode
/SakuraEngine/build
/.vs
*/.vs
/build
/.VSCodeCounter
*meta.h
*.generated.h
*/out
/.xmake
/vsxmake2019
*/.xmake
*.DS_Store
.DS_Store
#
*.jpg
*.png
*.tif
*.dds
*.bmp
*.obj
GPATH
GTAGS
GRTAGS