*/.DS_Store
*PS5*
*PlayStation*
*Agc*
*gnm*

/Debug-build
/Release-build
/RelWithDebInfo-build
/build
/Web-build
/SakuraEngine/Binaries
compile_commands.json
/.vs
/VSProject
/VSProject*
/.clangd
/out
/.VSCodeCounter

# ISPC Generated Headers
*.ispc.h
*.ispc_avx512skx.h
*.ispc_sse4.h
*.ispc_avx512knl.h