################################################################################
# This .gitignore file was automatically created by SaeruHikari.
################################################################################

/SakuraEngine/.vscode
/SakuraEngine/build
/SakuraEngine/build_linux
/SakuraEngine/build_mac
/out
/Extern/include
/Extern/include
/Extern/libs
/Extern/bin
